{% extends "base.jinja2" %}

{% block title %}
    Настройки
{% endblock %}

{% block content %}
    <h3 class="h3 text-info text-center form-title">Настройки</h3>
    <div class="center-div p-3 mt-3 mx-auto text-center">
        <form method="post" class="form-control border-0">
            {% for setting in settings %}
                <div>
                    <label>
                        {{ setting.name }}
                        <input class="form-text ms-2" type="text" name="{{ setting.name }}" value="{{ setting.value }}">
                    </label>
                    <p class="small text-secondary">{{ setting.description }}</p>
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-info text-white" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}